# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# IDE
.idea
.vscode

# Mac users
.DS_Store

# gocache
.gocache

# .env
.env

# build artifacts
bin/

# local runtime files
resolv.conf

# logs
logs/*
!logs/.gitkeep
*.log
